<div class="footer">
		<div class="container">
		
			<div class="row">
			
				<div class="col-lg-4 col-md-4">
				<h1>Zirine</h1>
				<p>Since 2015</p>
				<p><em>Delivering ideas and solutions.</em></p>
				</div>
				
				<div class="col-lg-4 col-md-4">
				<h1>GET IN TOUCH:</h1>
				<p><i class="fa fa-phone"></i> 011111 222 333</p>
				<p><i class="fa fa-envelope-o"></i> <a href="mailto:info@appname.com">info@appname.com</a></p>
				</div>
				
				<div class="col-lg-4 col-md-4">
				<h1>ABOUT US:</h1>
				<p>Zirine &copy; 2015</p>
				</div>
				
			</div>
			
		</div>
	</div>