

<div id="home" data-spy="scroll" data-target=".navbar-default" data-offset="50" class="">
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">


	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
	              <span class="sr-only">Toggle navigation</span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	            </button>
	        
	        <!--
	            <a class="navbar-brand" href="#featured"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Yes<span class="themed">Dhaba</span></a>
	        -->
	        <!--<a class="navbar-brand" href="#">
	          Yes
	          <span class="themed"> Dhaba</span>
	        </a>!>
	        
	        </div><! navbar-header -->
	        
	        <div class="collapse navbar-collapse" id="collapse">

	        	<div class="row">
	        	<div class="col-lg-12 col-md-12">
	            <ul class="nav navbar-nav navbar-left wow rubberBand">
	              <li class=""><a href="/getidea/?category=technology" method="post">Technology</a></li>
	              <li class=""><a href="/getidea">Science</a></li>
	              <li><a href="/getidea">Cooking</a></li>
	              <li><a href="/getidea">Astronomy</a></li>
	              <li><a href="/getidea">Movies</a></li>
	              <li><a href="/getidea">Magazines</a></li>
                  <li><a href="/getidea">Jobs</a></li>
	              <li><a href="/getidea">Open</a></li>


	            </ul> 

	            </div>

	            </div>
	            
	              

	        </div><!-- collapse navbar-collapse -->
	    </div><!-- container -->
	    </div>
	</nav>

		<div class="row">
		<button type="button" class="col-lg-3 col-lg-offset-2 btn btn-primary btn-lg wow zoomIn" data-wow-delay = "1s" data-toggle="modal" data-target="#myModal">
			  Add Idea
			</button> <a href="/logout" class="btn btn-danger col-lg-3 col-lg-offset-1 btn-lg wow zoomIn" data-wow-delay = "1s">Logout</a>
			  <br><br><br><br><br>

			<!-- Modal -->
			<div class="modal fade wow swing" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel"></h4>
			      </div>
			      <div class="modal-body">
			         <form method="post" action="/addidea">
            		 <div class="form-group">
            		   <label>Title</label>
                       <input type="text" name="title" class="form-control">
            		 </div>

            		 <div class="form-group">
            		   <label>Category</label>
                       <!--<input type="text" name="category" class="form-control">-->
                       <select name="category" class="form-control">
						  <option value="technology">Technology</option>
						  <option value="science">Science</option>
						  <option value="cooking">Cooking</option>
						  <option value="astronomy">Astronomy</option>
						  <option value="movies">Movies</option>
						  <option value="magazines">Magazines</option>
						  <option value="jobs">Jobs</option>
						  <option value="open">Open</option>
						</select>
            		 </div>
           
           			 <div class="form-group">
           			   <label>Idea</label>
              		   <!--<input type="text" name="ideabody" class="form-control">-->
              		   <textarea name="ideabody" class="form-control" rows="10" cols="30" placeholder="Type here..."></textarea>
            		 </div>

            		 <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="submit" class="btn btn-primary">Save</button>
			        </div>
			        </form>

			      </div>
			      
			    </div>
			  </div>
			</div>
			</div>


</div>

