

<body id="home" data-spy="scroll" data-target=".navbar-default" data-offset="50" class="">
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">


	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
	              <span class="sr-only">Toggle navigation</span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	            </button>
	        
	        <!--
	            <a class="navbar-brand" href="#featured"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Yes<span class="themed">Dhaba</span></a>
	        -->
	        <!--<a class="navbar-brand" href="#">
	          Yes
	          <span class="themed"> Dhaba</span>
	        </a>!>
	        
	        </div><! navbar-header -->
	        
	        <div class="collapse navbar-collapse" id="collapse">

	            <ul class="nav navbar-nav navbar-left">
	              <li class=""><a href="#">Technology</a></li>
	              <li class=""><a href="#">Science</a></li>
	              <li><a href="#">Cooking</a></li>
	              <li><a href="#">Astronomy</a></li>
	              <li><a href="#">Movies</a></li>
	              <li><a href="#">Magazines</a></li>
                  <li><a href="#">Jobs</a></li>
	              <li><a href="#">Open</a></li>

	            </ul>  
	              

	        </div><!-- collapse navbar-collapse -->
	    </div><!-- container -->
	    </div>
	</nav>

	<!-- Modal -->

<!-- Button trigger modal -->
			<button type="button" class="col-lg-4 col-lg-offset-4 btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
			  Add Idea
			</button>

			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel"></h4>
			      </div>
			      <div class="modal-body">
			         <form method="post" action="/addidea">
            		 <div class="form-group">
            		   <label>Title</label>
                       <input type="text" name="title" class="form-control">
            		 </div>

            		 <div class="form-group">
            		   <label>Category</label>
                       <input type="text" name="category" class="form-control">
            		 </div>
           
           			 <div class="form-group">
           			   <label>Idea</label>
              		   <input type="text" name="ideabody" class="form-control">
            		 </div>

            		 <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="submit" class="btn btn-primary">Save</button>
			        </div>

			      </div>
			      
			    </div>
			  </div>
			</div>

	<!-- End Modal -->


</body>

