

<body id="home" data-spy="scroll" data-target=".navbar-default" data-offset="50" class="">
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">


	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
	              <span class="sr-only">Toggle navigation</span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	            </button>
	        
	        <!--
	            <a class="navbar-brand" href="#featured"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Yes<span class="themed">Dhaba</span></a>
	        -->
	        <!--<a class="navbar-brand" href="#">
	          Yes
	          <span class="themed"> Dhaba</span>
	        </a>--!>
	        
	        </div><!-- navbar-header -->
	        
	        <div class="collapse navbar-collapse" id="collapse">

	            <ul class="nav navbar-nav">
	              <li class=""><a href="#">Technology</a></li>
	              <li class=""><a href="#">Science</a></li>
	              <li><a href="#">Cooking</a></li>
	              <li><a href="#">Astronomy</a></li>
	              <li><a href="#">Movies</a></li>
	              <li><a href="#">Magazines</a></li>
                  <li><a href="#">Jobs</a></li>
	              <li><a href="#">Open Area</a></li>
	            </ul>        

	        </div><!-- collapse navbar-collapse -->
	    </div><!-- container -->
	</nav>