
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Zirine</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom_front.css">


  </head>

  <body>
   
      <% include ./partials/navbar_front %>
    
     
      <%- body -%>

    

    
    <% include ./partials/javascriptOnly %>

  </body>
</html>