
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Zirine</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom_front.css">
    <link rel="icon" href="img/icon.png" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/animate.min.css">


  </head>

  <body>
   
      <% include ./partials/navbar_front %>
    
     
      <%- body -%>

      <% include ./partials/footer %>

    

    
    <% include ./partials/javascriptOnly %>

  </body>
</html>