

 /* Navbar */
 
.navbar a {
 color:#cccccc !important;
}

.navbar a:hover {
 color:#ffffff !important;
 background-color:#646464 !important;
}

.navbar-header .navbar-brand {
 color:white !important;
 font-size:1.5em;
}

body{
    background-color: #525252;
}

.vertical-center{
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
	background: url(../img/bg.jpg) no-repeat center center;
 	background-size: cover;
}

.vertical-center .yoyo p{
 color:white;
 font-size:1.3em;
 padding-bottom: 5px;
}

.vertical-center .yoyo h1 {
 color: white;
 font-family: 'Pacifico', cursive;
 font-size: 7em;
 padding-top: 25px;
}


/* Navbar end */ 


/* Footer */


.footer {
 background-color:#242424;
 color:white;
 padding:30px 0 30px;
}

.footer h1 {
 font-family: 'Lato', sans-serif;
 font-size:1.5em;
}

.footer p {
 font-size:0.9em;
 color:#f2f2f2;
}

.footer a {
 color:#f2f2f2;
}


/* Footer */


